/* Waving hand on start page */
@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(14deg); }
    30% { transform: rotate(-8deg); }
    45% { transform: rotate(14deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}

.wave {
    font-size: 130%;
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave-animation 2s infinite;
}

.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile img {
    border-radius: 50%;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
}

.button {
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
    font-size: 14px;
    width: 110px;
    height: 40px;
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 6px;
    padding: 6px;
    transition: transform 0.1s;
    text-align: center;
}

.button:hover {
    transform: scale(1.1); /* Zoom on hover */
    }

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}
